.cart-item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 1em;
  border-bottom: 1px solid white;
  gap: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.product-name {
  flex: 2;
  font-weight: bold;
  min-width: 150px;
  width: 150px;
  text-align: left;
}

.quantity {
  display: flex;
  gap: 1em;
  padding-right: 1em;
}

.quantity-input {
  width: 2em;
  text-align: center;
  border: 1px solid #7c7c7c;
  border-radius: 2px;
}

.single-price {
  flex: 1;
  text-align: center;
  /* padding-left: 1em; */
}

.total-price {
  flex: 1;
  text-align: right;
  font-weight: bold;
}

.cart-item button {
  width: 30px;
  height: 30px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
