$hover-color: white;
$text-color: #ab49de;
$background-color: #242424;
$width: 1em;
    
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: darken($background-color, 5%);
    z-index: 1000; 
    float: left;
    height: 3em;


  a {
        color: $text-color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2em;
        padding: 10px 10px;
        transition: color 0.3s ease;
        

    .login {
            float: right;
    }
    
    &:hover {
            color: $hover-color;
    }
    &:visited{
            color: $text-color;
        &:hover {
            color: $hover-color;
        }
        }
    
  }
}